@model IEnumerable<MV2ReportsWeb.Models.Scheduler>

@{
    ViewBag.Title = "Index";
}

<h2>Scheduler</h2>

<p>
    @Html.ActionLink("New Schedule", "Create") |
    @Html.ActionLink("New ad hoc", "AdHoc") |
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeekDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeSlot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.ScheduleType)
        </td>
        <td>
            @Html.DisplayFor(model => item.WeekDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeSlot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
